colorama==0.4.6
gradio==3.36.1
huggingface_hub==0.15.1
joblib==1.2.0
matplotlib==3.7.2
numpy==1.24.4
pandas==2.0.3
Pillow==9.4.0
Pillow==10.0.0
pinecone_client==2.2.2
python-dotenv==1.0.0
Requests==2.31.0
scikit_learn==1.2.2
scrapy==2.9.0
selenium==4.10.0
setuptools==67.8.0
smart_open==6.3.0
streamlit==1.24.1
streamlit_image_select==0.6.0
timm==0.9.2
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
webdriver_manager==3.8.6
